body {
  background: #f0e68c;
}

.editor-preview {
  float: left;
  width: 354px;
  height: 730px;
  padding: 58px 0 58px 5px;
  position: relative;
  margin-left: 15px;
  background: url("/images/mobile-warp.png") top left no-repeat;
}
